@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Montserrat:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f9fafb;
    flex-direction: column;
    min-height: 100vh; /* Esto garantiza que el contenido ocupe toda la pantalla */
}

h1 {
    font-size: 25px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: #feffff;
    transition: width 0.5s ease, background-color 0.3s ease;
    box-shadow: 5px 0 10px rgba(126, 126, 126, 0.2);
}

.mini-sidebar {
    width: 80px;
}

.sidebar span {
    white-space: nowrap;
    font-size: 20px;
    text-align: left;
    font-style: 25px;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.sidebar span.oculto {
    opacity: 0;
    width: 0;
}

.sidebar .name-page {
    width: 100%;
    height: 45px;
    color: black;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.logo {
    width: 10px;
}

/* Configuración del logo */
.sidebar .name-page img {
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

/* Distancia entre el texto del título y el logo */
.sidebar .name-page span {
    margin-left: 5px;
}

/* --------------------------------------------> Navegation Menu */

.title{
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

a {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: #535d6a;
}

a:hover {
    background-color: #eff6ff;
    color: #2663eb;
}

ion-icon {
    min-width: 50px;
    font-size: 20px;
}

/* Estilo del botón que indica la página activa en la navegación */
#active-page {
    background-color: #eff6ff;
    color: #2663eb;
}

/* --------------------------------------------> Main */
main {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}

/* Estilo cuando el menú está minimizado */
main.min-main {
    margin-left: 80px;
}

/* --------------------------------------------> Table */

/* Estilo general de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* Estilo para las cabeceras de la tabla */
.table th {
    background-color: #fdfdfd;
    color: #535d6a;
    padding: 14px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
}


.blue_text{
    color: #2663eb;
    font-weight: 500;
}

.header-left {
    border-top-left-radius: 10px;
}

.header-right {
    border-top-right-radius: 10px;
}

/* Estilo para las celdas de la tabla */
.table td {
    padding: 10px;
    text-align: left;
    border-top: 1.5px solid #f1f0f0;
}

/* Cambio de color al pasar el ratón sobre las filas */
.table tr:hover {
    background-color: #f6f6f6;
}

.table a {
    color: #2663eb;
    text-decoration: none;
}

.table a:hover {
    background-color: #f6f6f6;
    text-decoration: underline;
}

/* --------------------------------------------> Notification */

/* Text no center */
/* .notification {
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ed0d06;
} */

/* Text center */
.notification {
    padding: 15px;
    margin: 22px 0;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #ed0d06;
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center; /* Centra el contenido del flex horizontalmente */
    align-items: center; /* Centra el contenido del flex verticalmente */
    gap: 10px;
    background-color: white;
}

/* --------------------------------------------> Menu button */

.menu-button{
    margin-top: 100px;
}

.menu-button a{
    font-size: 18px;
}

.menu-button a:hover{
    color: #2663eb;
    background-color: transparent;
}

/* --------------------------------------------> Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: margin-left 0.5s ease;
    margin-top: 360px;
}
.footer p {
    font-size: 14px;
    color: #535d6a;
    font-weight: 400;
}