<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finder.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/OPTIMA_LOGO.ico') }}" type="image/x-icon" />
</head>
<body>

    <div class="sidebar">
        <div class="name-page">
            <img 
                id="logo" 
                src="{{ url_for('static', filename='images/OPTIMA_LOGO.png') }}" 
                alt="logo"
                class="logo">
            <span>OPTIMA</span>
        </div>
        <nav class="navigation">
            <ul>
                <!-- Navigation items -->
                <li><a href="/"><ion-icon name="home"></ion-icon><span>Home</span></a></li>
                <li><a id="active-page" href="/finder/"><ion-icon name="search-sharp"></ion-icon><span>Part Finder</span></a></li>
                <li><a href="#"><ion-icon name="book"></ion-icon><span>Manuals</span></a></li>
                <li><a href="/crud/"><ion-icon name="list"></ion-icon><span>Parts List</span></a></li>
                <li><a href="#"><ion-icon name="time"></ion-icon><span>Maintance History</span></a></li>
                <li><a href="#"><ion-icon name="build"></ion-icon><span>Repair Tracking</span></a></li>
                <li><a href="#"><ion-icon name="cube"></ion-icon><span>Inventory</span></a></li>
                <li><a href="#"><ion-icon name="settings-sharp"></ion-icon><span>Settings</span></a></li>
            </ul>
        </nav>
    </div>
    
    <main>
        <header class="header-finder">
            <h1>Parts List</h1>
            <form method="POST">
                <div class="input-container">
                    <ion-icon name="search-sharp" class="input-icon"></ion-icon>
                    <input 
                        class="search-box"
                        type="text" 
                        placeholder="Search parts..." 
                        id="finder" 
                        name="finder" 
                        required 
                    />
                </div>
            </form>
        </header>

        <!-- Conditional block to check if results exist -->
        {% if results %}
        <table class="parts-table">
            <thead>
                <tr>
                    <th class="header-left">Part Number</th>
                    <th>Item Name</th>
                    <th>Unit per ASSY</th>
                    <th>AVAIL</th>
                    <th>Chapter</th>
                    <th class="header-right">PDF URL</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td class="blue_text">{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                    <td>{{ result[4] }}</td>
                    <td>{{ result[5] }}</td>
                    <td>{{ result[6] }}</td>
                    <td><a href="/manuals/{{ result[7] }}" target="_blank">Open PDF</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p class="no-results">No results found.</p>
        {% endif %}

        <footer class="footer">
            <p>&copy; 2025 OPTIMA. All rights reserved. v0.1</p>
        </footer>
    </main>


    
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
